target/classes/environment-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="environment-test-flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/*" doc:name="HTTP"/>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties.'http.request.path' == &quot;/sample1&quot;]">
				<flow-ref name="access-payload-json-attribute-flow" doc:name="access-payload-json-attribute-flow"/>
			</when>
			<when expression="#[message.inboundProperties.'http.request.path' == &quot;/sample2&quot;]">
				<flow-ref name="iteration-over-map-application-java-flow" doc:name="iteration-over-map-application-java-flow"/>
			</when>
			<otherwise>
				<logger message="No path match for: #[http.request.path]" level="INFO" doc:name="Logger"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="access-payload-json-attribute-flow">
		<set-payload value="{
	&quot;inpt1&quot;: 10
}" encoding="UTF-8" mimeType="application/json" doc:name="Set Payload"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	val1: payload.inpt1
}]]></dw:set-payload>
		</dw:transform-message>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
	</flow>
	<flow name="iteration-over-map-application-java-flow">
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
[{  "inpt1": 10 },{  "inpt1": 20 },{  "inpt1": 30 },{  "inpt1": 40 }]]]></dw:set-payload>
		</dw:transform-message>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
[
	(payload map {
		"val1":	$.inpt1,
		"index": $$
	})
]]]></dw:set-payload>
		</dw:transform-message>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
